body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: cornflowerblue;
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
p.dos{
  margin-top: 3rem;
  text-align: center;
  font-weight:bold;
  font-size: 1.6rem;
  font-family: 'Courier New', Courier, monospace;
  color: darkblue;
}

p.uno {
  margin-top: 3rem;
  text-align: center;
  font-weight:bold;
  font-size: 1.6rem;
  font-family:'Times New Roman', Times, serif;
  color: rgb(33, 95, 54);
}

img {
display: block;
margin: 0px auto;
}